<<<<<<< HEAD
<<<<<<< HEAD
a:link{
color:blue;
}

a:visited{
color:purple;
}

a:hover{
color:red;
}

a:active{
color:green;
=======
a:link{
color:blue;
}

a:visited{
color:purple;
}

a:hover{
color:red;
}

a:active{
color:green;
>>>>>>> be9534c (all)
=======
a:link{
color:blue;
}

a:visited{
color:purple;
}

a:hover{
color:red;
}

a:active{
color:green;
>>>>>>> 1bfa9fc1 (Clean history without node_modules)
}